.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(1, 24, 47, 0.863);
    border-radius: 10px;
    border: 1px solid white;
    padding: 30px;
    width: 470px;
    max-width: 75vw;
    animation-name: borderColorChange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes borderColorChange {
    0% {
        border: 4px solid aqua;
    }

    100% {
        border: 4px solid rgb(208, 255, 0);
    }
}

@keyframes colorChange {
    0% {
        background: aqua;
    }

    100% {
        background: rgb(208, 255, 0);
    }
}

@keyframes textColorChange {
    0% {
        color: aqua;
    }

    100% {
        color: rgb(208, 255, 0);
    }
}

.header {
    margin: 10px;
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aqua;
    font-weight: bolder;
    font-size: 25px;
    animation-name: textColorChange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.inputs {
    display: flex;
    justify-content: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.box {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    border: none;
    -webkit-text-fill-color: black;
    background-color: aqua;
    height: 40px;
    width: 450px;
    max-width: 75vw;
    margin: 15px;
    border-radius: 10px;
    animation-name: colorChange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    border: none;
    -webkit-text-fill-color: black;
    background-color: rgb(208, 255, 0);
    height: 40px;
    width: 150px;
    max-width: 75vw;
    margin: 15px;
    border-radius: 10px;
}

.countryErrorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Error {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(251, 4, 4);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}

.countriesFlags {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    justify-content: space-around;
    gap: 30px;
}

.flags {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 300px;
    object-fit: cover;

}

.deleteButton {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    border: none;
    display: flex;
    justify-content: center;
    -webkit-text-fill-color: black;
    background-color: rgb(208, 255, 0);
    height: 20px;
    width: 20px;
    border-radius: 10px;
}