.form {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 250px;
    height: 400px;
    margin: auto;
    border: 2px dashed #DAA06D;
    border-radius: 15px;
    background-color: #EADDCA;
    box-shadow: 0 0 0 4px #EADDCA, 2px 4px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .4s ease-in-out;
}

.heading {
    padding-left: 0.8em;
    color: #DAA06D;
    background-color: transparent;
    letter-spacing: .5em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 3em;
    text-shadow: inset -1px -1px 1px #DAA06D;
}

.input {
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px #aaa;
}

.button {
    align-self: center;
    margin-top: 2em;
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;
    background-color: #E5AA70;
    font-weight: bold;
    letter-spacing: 0.1em;
    transition: .4s ease-in-out opacity, .1s ease-in-out active;
    padding: 1em;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
}